<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="ui-g">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <h:form>
                <p:dataTable var="craftcompetence" value="#{craftCompeteceView.functions}">
                    <f:facet name="header">
                        Basic
                    </f:facet>
                    <p:columnGroup type="header">
                        <p:row>
                            <p:column headerText="Competence" />
                            <p:column headerText="Role" />
                            <p:column headerText="Function" />
                            <p:column headerText="Operating Unit" />

                        </p:row>
                    </p:columnGroup>
                    <p:subTable var="roles" value="#{craftcompetence.roleBoSet}">
                    <p:subTable var="craftcompetencename" value="#{roles.craftCompetenceBoList}">
                        <p:column headerText="Competence">
                            <h:outputText value="#{craftcompetencename.name}"/>
                        </p:column>
                    <p:column headerText="Role">
                        <h:outputText value="#{roles.name}"/>
                    </p:column>
                    <p:column headerText="Function">
                        <h:outputText value="#{craftcompetence.title}"/>
                    </p:column>
                    <p:column headerText="Operating unit">
                        <h:outputText value="#{craftcompetence.operatingUnitBo.operatingUnitName}"/>
                    </p:column>
                </p:subTable>
            </p:subTable>
        </p:dataTable>





        <p:commandButton id="add"
                         onclick="PF('dlg3').show()"
                         icon="fas fa-user-plus"
                         value=" Add role"/>
    </h:form>
</div>
<div class="ui-g-1"></div>
</div>
<div class="ui-g" id="addRoleForm">
<p:dialog id="addRoleFormTitle" header="Add role" widgetVar="dlg3" showEffect="explode"
          hideEffect="bounce">
    <h:form>
        <div class="ui-g">
            <div class="ui-g-4">
                <p:outputLabel value="#{msgs['role.name']}"/>
            </div>

            <div class="ui-g-8">
                <p:inputText id="role" value="#{roleView.role.name}"/>
            </div>
        </div>
        <div class="ui-g-2">
            <p:commandButton type="submit" value="Enter" action="#{roleView.addRole}" ajax="false"/>
        </div>
    </h:form>
</p:dialog>
</div>
</ui:composition>