<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="ui-g">
		<div class="ui-g-1"/>
		<div class="ui-g-10">
			<h:form id="form">
				<p:dataTable var="domain" value="#{domainsView.domains}">
					<f:facet name="header"><h:outputText value="#{msgs['domains']}"/></f:facet>
					<p:column headerText="#{msgs['domain.name']}">
						<h:outputText value="#{domain.name}" />
					</p:column>
					<p:column headerText="#{msgs['edit']}" style="width:65px; text-align: center">
						<p:commandLink update=":editForm:editDomainDetail" id="edit" oncomplete="PF('editDomainDialog').show()">
							<i class="fas fa-pencil-alt"></i>
     						<f:setPropertyActionListener value="#{domain}"
								target="#{domainsView.addedDomain}" /> 
     					</p:commandLink>
					</p:column>
					<p:column headerText="#{msgs['delete']}"
						style="width:65px; text-align: center">
						<p:commandLink id="delete" oncomplete="PF('deleteDomainDialog').show()">
							<i class="fas fa-trash-alt"></i>
     						<f:setPropertyActionListener value="#{domain}"
								target="#{domainsView.addedDomain}" /> 
     					</p:commandLink>
					</p:column>
				</p:dataTable>
				<div class="ui-g">
					<div class="ui-g-12">
						<p:commandButton value="#{msgs['domain.add']}"
							action="#{udomainsView.newDomain}" styleClass="ui-priority-primary"
							process="@this" update=":addForm:addDomainDetail"
							oncomplete="PF('addDomainDialog').show();" />
					</div>
				</div>
			</h:form>
			<h:form id="addForm">
				<div class="ui-g" id="addDomainForm">
					<p:dialog id="adddomainFormTitle" header="#{msgs['domain.add']}"
						widgetVar="addDomainDialog" modal="true">
						<p:outputPanel id="addDomainDetail">
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['domain.name']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:inputText id="n" value="#{domainsView.addedDomain.name}" />
								</div>
							</div>
							<div class="ui-g-2">
								<p:commandButton value="#{msgs['domain.add']}" update=":form"
									action="#{domainsView.addDomain}"
									oncomplete="PF('addDomainDialog').hide();" />
							</div>
						</p:outputPanel>
					</p:dialog>
				</div>
			</h:form>
			<h:form id="editForm">
				<div class="ui-g" id="editDomainForm">
					<p:dialog id="editDomainFormTitle" header="#{msgs['domain.edit']}"
						widgetVar="editDomainDialog" modal="true">
						<p:outputPanel id="editDomainDetail">
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['domain.name']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:inputText id="n" value="#{domainsView.addedDomain.name}" />
								</div>
							</div>
							<div class="ui-g-2">
								<p:commandButton value="#{msgs['domain.edit']}" update=":form"
									action="#{domainsView.editDomain}"
									oncomplete="PF('editDomainDialog').hide();" />
							</div>
						</p:outputPanel>
					</p:dialog>
				</div>
			</h:form>
			<h:form id="deleteForm">
				<div class="ui-g" id="deleteDomainForm">
					<p:dialog id="deleteDomainFormTitle" header="#{msgs['domain.delete']}"
						widgetVar="deleteDomainDialog" modal="true">
						<f:facet name="header">
							<h:outputText value="#{msgs['domain.delete']}" />
						</f:facet>
						<f:facet name="controls">
							<h:outputLink value="#"
								onclick="PF('deleteDomainFormTitle').hide(); return false;">X</h:outputLink>
						</f:facet>
						<p>
							<h:outputText
								value="Ben je zeker dat je dit domein wil verwijderen?" />
						</p>
						<br></br>
						<br></br>
						<div align="right">
							<p:commandButton styleClass="btn btn-link" value="#{msgs['button.no']}"
								onclick="PF('deleteDomainDialog').hide()" />
							<p:commandButton styleClass="btn btn-primary" update=":form"
								value="#{msgs['button.yes']}" action="#{domainsView.deleteDomain}"
								oncomplete="PF('deleteDomainDialog').hide();" />
						</div>
					</p:dialog>
				</div>
			</h:form>
		</div>
		<div class="ui-g-1"></div>
	</div>
</ui:composition>