<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="ui-g">
		<div class="ui-g-1"></div>

		<div class="ui-g-10">

			<h:form id="form">
				<p:dataTable var="function" value="#{functionsView.functions}">
					<f:facet name="header">
						<h:outputText value="#{msgs['functions']}"></h:outputText>
					</f:facet>
					<p:column headerText="#{msgs['function.title']}">
						<h:outputText value="#{function.title}" />
					</p:column>
					<p:column headerText="#{msgs['function.operatingUnit']}">
						<h:outputText value="#{function.operatingUnit}" />
					</p:column>
					<p:column headerText="#{msgs['edit']}"
						style="width:65px; text-align: center">
						<p:commandLink update=":editForm:editFunctionDetail" id="edit"
							oncomplete="PF('editFunctionDialog').show()">
							<i class="fas fa-pencil-alt"></i>
							<f:setPropertyActionListener value="#{function}"
								target="#{functionsView.functionBo}" />
						</p:commandLink>
					</p:column>
<!-- 					<p:column headerText="#{msgs['delete']}" -->
<!-- 						style="width:65px; text-align: center"> -->
<!-- 						<p:commandLink id="delete" -->
<!-- 							oncomplete="PF('deleteFunctionDialog').show()"> -->
<!-- 							<i class="fas fa-trash-alt"></i> -->
<!-- 							<f:setPropertyActionListener value="#{function}" -->
<!-- 								target="#{functionsView.functionBo}" /> -->
<!-- 						</p:commandLink> -->
<!-- 					</p:column> -->
				</p:dataTable>
<!-- 				<div class="ui-g"> -->
<!-- 					<div class="ui-g-12"> -->
<!-- 						<p:commandButton value="#{msgs['function.add']}" -->
<!-- 							action="#{functionsView.newFunction}" -->
<!-- 							styleClass="ui-priority-primary" process="@this" -->
<!-- 							update=":addForm:addFunctionDetail" -->
<!-- 							oncomplete="PF('addFunctionDialog').show();" /> -->
<!-- 					</div> -->
<!-- 				</div> -->
			</h:form>

		</div>
		<h:form id="editForm">
			<div class="ui-g" id="editFunctionForm">
				<p:dialog id="editFunctionFormTitle" header="Edit Function"
					widgetVar="editFunctionDialog" modal="true">
					<p:outputPanel id="editFunctionDetail">
						<div class="ui-g">
							<div class="ui-g-4">
								<p:outputLabel value="#{msgs['function.title']}"></p:outputLabel>
							</div>
							<div class="ui-g-8">
								<p:inputText id="fn" value="#{functionsView.functionBo.title}" />
							</div>
						</div>
<!-- 						<div class="ui-g"> -->
<!-- 							<div class="ui-g-4"> -->
<!-- 								<p:outputLabel value="#{msgs['function.operatingUnit']}"></p:outputLabel> -->
<!-- 							</div> -->
<!-- 							<div class="ui-g-8"> -->
<!-- 								<p:autoComplete id="dd" dropdown="true" -->
<!-- 									value="#{msgs['function.operatingUnit']}" -->
<!-- 									completeMethod="#{function.operatingUnitNames}" /> -->
<!-- 							</div> -->
<!-- 						</div> -->
						<div class="ui-g-2">
							<p:commandButton value="Wijzigen" update=":form"
								action="#{functionsView.editFunction}"
								oncomplete="PF('editFunctionDialog').hide();" />
						</div>
					</p:outputPanel>
				</p:dialog>
			</div>
		</h:form>
		<div class="ui-g-1"></div>

	</div>


</ui:composition>