<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

        <div class="ui-g">
            <div class="ui-g-1"></div>
            <div class="ui-g-10">

                <h:form id="form">
                    <p:dataTable var="PrivilegeAndUser" value="#{functionResponsibleView.functionResponsibleMap}">
                        <f:facet name="header"><h:outputText value="#{msgs['functionresponsible_title']}"></h:outputText></f:facet>
                        <p:column headerText="#{msgs['user.firstname']}">
                            <h:outputText value="#{PrivilegeAndUser.value.firstName}" />
                        </p:column>

                        <p:column headerText="#{msgs['user.lastname']}">
                            <h:outputText value="#{PrivilegeAndUser.value.lastName}" />
                        </p:column>

                        <p:column headerText="#{msgs['function']}">
                        <h:outputText value="#{PrivilegeAndUser.key.function.title}" />
                        </p:column>

                        <p:column headerText="#{msgs['function.operatingunit']}">
                            <h:outputText value="#{PrivilegeAndUser.key.function.operatingUnitBo.operatingUnitName}" />
                        </p:column>

                        <p:column headerText="#{msgs['country']}">
                            <h:outputText value="#{PrivilegeAndUser.key.country}" />
                        </p:column>

                        <p:column headerText="#{msgs['edit']}" style="width:65px; text-align: center">
                            <p:commandLink id="edit" update=":editForm:editUserDetail" oncomplete="PF('editUserDialog').show()">
                                <i class="fas fa-pencil-alt"></i>
                                <f:setPropertyActionListener  value="PrivilegeAndUser.key"
                                    target="#{functionResponsibleView.selectedPrivilege}"/>
                            </p:commandLink>
                        </p:column>

                        <p:column headerText="#{msgs['delete']}" style="width:65px; text-align: center">
                            <p:commandLink id="delete" style="text-align: center;" oncomplete="PF('deleteUserDialog').show()">
                                <i class="fas fa-trash-alt"></i>
                                <f:setPropertyActionListener  value="PrivilegeAndUser.key"
                                    target="#{functionResponsibleView.selectedPrivilege}"/>
                            </p:commandLink>
                        </p:column>

                    </p:dataTable>

                    <div class="ui-g">
                        <div class="ui-g-12">
                            <p:commandButton   value="#{msgs['functionresponsible.add']}" styleClass="ui-priority-primary"
                                process="@this" oncomplete="PF('addFunctionResponsible').show();"
                                action="#{functionResponsibleView.newFunctionResponsible}"
                                update=":addFunctionResponsibleForm:functionresponsiblepanel"/>
                        </div>
                    </div>
                </h:form>

                <h:form id="addFunctionResponsibleForm">
                    <div class="ui-g">
                        <p:dialog widgetVar="addFunctionResponsible" modal="true" draggable="false"
                            header="#{msgs['functionresponsible.add']}">
                            <p:outputPanel id="functionresponsiblepanel">

                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        <p:outputLabel value="#{msgs['user.user']}" for="eventAdd"/>
                                    </div>
                                    <div class="ui-g-8">
                                        <p:autoComplete id="eventAdd"
                                                        completeMethod="#{functionResponsibleView.completeText}"
                                                        value="#{functionResponsibleView.email}"
                                                        forceSelection="true"
                                                        maxlength="5"
                                                        placeholder="Search on shortname">
                                            <p:ajax event="itemSelect" listener="#{secondTableView.onItemSelect}"/>
                                        </p:autoComplete>
                                    </div>
                                </div>

                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        <p:outputLabel value="#{msgs['function.label']}"></p:outputLabel>
                                    </div>
                                    <div class="ui-g-8">
                                        <p:selectOneMenu id="function" value="#{functionResponsibleView.functionId}">
                                            <f:selectItems value="#{functionResponsibleView.functionList}"
                                                           var="function" itemValue="#{function.id}"
                                                           itemLabel="#{function.title} #{function.operatingUnitBo.operatingUnitName}"/>
                                        </p:selectOneMenu>
                                    </div>
                                </div>

                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        <p:outputLabel value="#{msgs['user.country']}"></p:outputLabel>
                                    </div>
                                    <div class="ui-g-8">
                                        <p:selectOneMenu id="userCountry" value="#{functionResponsibleView.country}">
                                            <f:selectItem itemLabel="Belgium" itemValue="BE" />
                                            <f:selectItem itemLabel="France" itemValue="FR" />
                                            <f:selectItem itemLabel="India" itemValue="IN" />
                                        </p:selectOneMenu>
                                    </div>
                                </div>

                                <div class="ui-g-2">
                                    <p:commandButton value="#{msgs['user.add']}" update=":form"
                                                     action="#{functionResponsibleView.addFunctionResponsible}"
                                                     oncomplete="PF('addFunctionResponsible').hide();" />
                                </div>

                            </p:outputPanel>
                        </p:dialog>
                    </div>
                </h:form>

                <h:form id="editForm">
                    <div class="ui-g" id="editUserForm">
                        <p:dialog id="editUserFormTitle" header="Edit User"
                                  widgetVar="editUserDialog" modal="true">

                            <p:outputPanel id="editUserDetail">


                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        <p:outputLabel value="#{msgs['user.shortname']}"/>
                                    </div>
                                    <div class="ui-g-8">
                                        <p:outputLabel />
                                    </div>
                                </div>


                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        <p:outputLabel value="#{msgs['function.label']}"></p:outputLabel>
                                    </div>
                                    <div class="ui-g-8">
                                        <p:selectOneMenu value="#{functionResponsibleView.functionId}">
                                            <f:selectItems value="#{functionResponsibleView.functionList}"
                                                           var="function" itemValue="#{function.id}"
                                                           itemLabel="#{function.title} #{function.operatingUnitBo.operatingUnitName}"/>
                                        </p:selectOneMenu>
                                    </div>
                                </div>

                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        <p:outputLabel value="#{msgs['user.country']}"></p:outputLabel>
                                    </div>
                                    <div class="ui-g-8">
                                        <p:selectOneMenu value="#{functionResponsibleView.country}">
                                            <f:selectItem itemLabel="Belgium" itemValue="BE" />
                                            <f:selectItem itemLabel="France" itemValue="FR" />
                                            <f:selectItem itemLabel="India" itemValue="IN" />
                                        </p:selectOneMenu>
                                    </div>
                                </div>


                                <div class="ui-g-2">
                                    <p:commandButton value="Wijzigen" update=":form"
                                                     action="#{functionResponsibleView.editUser}"
                                                     oncomplete="PF('editUserDialog').hide();" />
                                </div>

                            </p:outputPanel>
                        </p:dialog>
                    </div>
                </h:form>

                <h:form id="deleteForm">
                    <div class="ui-g" id="deleteUserForm">
                        <p:dialog id="deleteUserFormTitle" header="#{msgs['user.delete']}"
                                  widgetVar="deleteUserDialog" modal="true">
                            <f:facet name="header">
                                <h:outputText value="#{msgs['user.delete']}" />
                            </f:facet>
                            <f:facet name="controls">
                                <h:outputLink value="#"
                                              onclick="PF('deleteUserFormTitle').hide(); return false;">X</h:outputLink>
                            </f:facet>
                            <p>
                                <h:outputText
                                        value="Ben je zeker dat je deze persoon wilt verwijderen?" />
                            </p>
                            <br></br>
                            <br></br>
                            <div align="right">
                                <p:commandButton styleClass="btn btn-link" value="#{msgs['button.no']}"
                                                 onclick="PF('deleteUserDialog').hide()" />
                                <p:commandButton styleClass="btn btn-primary" update=":form"
                                                 value="#{msgs['button.yes']}" action="#{functionResponsibleView.deleteUser}"
                                                 oncomplete="PF('deleteUserDialog').hide();" />
                            </div>
                        </p:dialog>

                    </div>
                </h:form>
            </div>
            <div class="ui-g-1"></div>
        </div>
</ui:composition>