<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <div class="ui-g">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">

            <p:dataTable var="role" value="#{manageRolesForFunctionView.checked}">
                <f:facet name="header"><h:outputText value="#{msgs['rolesforfunction']} #{webUser.functionBo.title}" ></h:outputText>
                </f:facet>
                <p:column headerText="Role">
                    <h:outputText value="#{role.key.name}" />
                </p:column>

                <p:column>
                    <p:selectBooleanCheckbox value="#{role.value}"
                                             valueChangeListener="#{manageRolesForFunctionView.onRoleClickListener}">
                    <p:ajax listener="#{manageRolesForFunctionView.onRoleClickListener}"/>
                    </p:selectBooleanCheckbox>
                </p:column>

            </p:dataTable>

        </div>
        <div class="ui-g-1"></div>
    </div>


</ui:composition>