<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="ui-g">

        <div class="ui-g-1"></div>

        <div class="ui-g-10">

            <h:form>

                <p:dataTable var="team"
                             value="#{myTeamView.teamsOfManager}"
                             sortBy="#{team.name}"
                             expandableRowGroups="true"
                             expandedRow="false"
                             styleClass="teamOverviewTable">

                    <f:facet name="header">
                        #{msgs['myteam.header']}
                    </f:facet>

                    <p:headerRow>
                        <p:column>
                            <h:outputText value="#{team.name}"/>
                        </p:column>
                    </p:headerRow>

                    <p:column>

                        <p:dataTable var="enrolment" value="#{team.enrolmentsBoHashSet}">

                            <p:column style="width:16px"></p:column>

                            <p:column>
                                <h:outputText value="#{enrolment.userBo.fullName}"/>
                            </p:column>

                            <p:column>
                                <h:outputText
                                        value="#{enrolment.privilegeBo.privilegeType.fullName}"/>
                            </p:column>

                            <p:column>
                                <p:commandButton value="Generate survey"/>
                                <!--Add functionality to button-->
                            </p:column>

                        </p:dataTable>

                    </p:column>

                </p:dataTable>

            </h:form>

        </div>

        <div class="ui-g-1"></div>

    </div>

</ui:composition>
