<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	
	<div class="ui-g">
	
	<div class="ui-g-1"></div>
	
	
	<div class="ui-g-10">
	<div class="ui-g">
	<!--  Kruisje .?? -->
	</div>
	
	<div class="ui-g">
	<h2>#{msgs['title.changepass']}</h2>
	</div>
	
	 <h:form>
	<div class="ui-g">

		 <div class="ui-g-4">
   			 <p>#{msgs['profile.currentpass']}</p>
   			 <p>#{msgs['profile.newpass']}</p>
   			 <p>#{msgs['profile.repeatnewpass']}</p>
   			 
   			 </div>
   		<div class="ui-g-6">
   			 	
   			
   			<p:inputText id="currentpass" value="#{userProfileview.currentpass}"
   			required="true"
   			validator="#{userProfileview.isCurrentPassword}"
   			>
   			<f:validateLength maximum="14" />
   			</p:inputText>
   			<p:inputText id="newpass" value="#{userprofileview.newpass}"
   			required="true"
   			validator="#{userProfileview.isSamePassword}"
   			>
   			<f:validateLength maximum="14" />
   			</p:inputText>
   			<p:inputText id="repeatpass" value="#{userProfileview.repeatpass}"
   			required="true"
   			
   			validator="#{userProfileview.isSamePassword}"
   			>
   			<f:validateLength maximum="14" />
   			</p:inputText>
   			
   			
   			 
   		</div>
   	
   	</div>
   		
   		<div class="ui-g">
   		
   		<p:commandButton value="cancel" />
   		<p:commandButton value="confirm"  ajax="true" action="#{userProfileviewchangePass}" />
   		
   		</div>
   		
   	</h:form>

			
		
	</div>
	
	
	
	
	</div>
	
	<div class="ui-g-1">
	
	</div>
	

</ui:composition>