<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="ui-g">
        <div class="ui-g-1"/>
        <div class="ui-g-10">
            <h:form id="form">
            <p:dataTable var="role" value="#{rolesView.roles}">
                <f:facet name="header"><h:outputText value="#{msgs['roles']}"/></f:facet>
                <p:column headerText="#{msgs['role.name']}">
                    <h:outputText value="#{role.name}" />
                </p:column>
            <p:column headerText="#{msgs['edit']}" style="width:65px; text-align: center">
						<p:commandLink update=":editForm:editRoleDetail" id="edit" oncomplete="PF('editRoleDialog').show()">
							<i class="fas fa-pencil-alt"></i>
     						<f:setPropertyActionListener value="#{role}"
								target="#{rolesView.addedRole}" /> 
     					</p:commandLink>
					</p:column>
			<p:column headerText="#{msgs['delete']}"
						style="width:65px; text-align: center">
						<p:commandLink id="delete" oncomplete="PF('deleteRoleDialog').show()">
							<i class="fas fa-trash-alt"></i>
     						<f:setPropertyActionListener value="#{role}"
								target="#{rolesView.addedRole}" /> 
     					</p:commandLink>
					</p:column>
			</p:dataTable>
            <div class="ui-g">
					<div class="ui-g-12">
						<p:commandButton value="#{msgs['role.add']}"
							action="#{rolesView.newRole}" styleClass="ui-priority-primary"
							process="@this" update=":addForm:addRoleDetail"
							oncomplete="PF('addRoleDialog').show();" />
					</div>
			</div>
            </h:form>
            <h:form id="addForm">
				<div class="ui-g" id="addRoleForm">
					<p:dialog id="addroleFormTitle" header="#{msgs['role.add']}"
						widgetVar="addRoleDialog" modal="true">
						<p:outputPanel id="addRoleDetail">
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['role.name']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:inputText id="n" value="#{rolesView.addedRole.name}" />
								</div>
							</div>
							<div class="ui-g-2">
								<p:commandButton value="#{msgs['role.add']}" update=":form"
									action="#{rolesView.addRole}"
									oncomplete="PF('addRoleDialog').hide();" />
							</div>
						</p:outputPanel>
					</p:dialog>
				</div>
			</h:form>
			<h:form id="editForm">
				<div class="ui-g" id="editRoleForm">
					<p:dialog id="editRoleFormTitle" header="Edit Role"
						widgetVar="editRoleDialog" modal="true">
						<p:outputPanel id="editRoleDetail">
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['role.name']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:inputText id="fn" value="#{rolesView.addedRole.name}" />
								</div>
							</div>
							<div class="ui-g-2">
								<p:commandButton value="#{msgs['role.edit']}" update=":form"
									action="#{rolesView.editRole}"
									oncomplete="PF('editRoleDialog').hide();" />
							</div>
						</p:outputPanel>
					</p:dialog>
				</div>
			</h:form>
			<h:form id="deleteForm">
				<div class="ui-g" id="deleteRoleForm">
					<p:dialog id="deleteRoleFormTitle" header="#{msgs['role.delete']}"
						widgetVar="deleteRoleDialog" modal="true">
						<f:facet name="header">
							<h:outputText value="#{msgs['role.delete']}" />
						</f:facet>
						<f:facet name="controls">
							<h:outputLink value="#"
								onclick="PF('deleteRoleFormTitle').hide(); return false;">X</h:outputLink>
						</f:facet>
						<p>
							<h:outputText
								value="Ben je zeker dat je deze rol wil verwijderen?" />
						</p>
						<br></br>
						<br></br>
						<div align="right">
							<p:commandButton styleClass="btn btn-link" value="#{msgs['button.no']}"
								onclick="PF('deleteRoleDialog').hide()" />
							<p:commandButton styleClass="btn btn-primary" update=":form"
								value="#{msgs['button.yes']}" action="#{domainsView.deleteRole}"
								oncomplete="PF('deleteRoleDialog').hide();" />
						</div>
					</p:dialog>
				</div>
			</h:form>
        </div>
        <div class="ui-g-1"></div>
    </div>
</ui:composition>