<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="ui-g">
		<div class="ui-g-1"/>
		<div class="ui-g-10">
			<h:form id="form">
				<p:dataTable var="user" value="#{usersView.users}">
					<f:facet name="header"><h:outputText value="#{msgs['users']}"/></f:facet>
					<p:column headerText="#{msgs['user.firstname']}">
						<h:outputText value="#{user.firstName}" />
					</p:column>
					<p:column headerText="#{msgs['user.lastname']}">
						<h:outputText value="#{user.lastName}" />
					</p:column>
					<p:column headerText="#{msgs['user.email']}">
						<h:outputText value="#{user.email}" />
					</p:column>
					<p:column headerText="#{msgs['user.country']}">
						<h:outputText id="countryDataTable" value="#{user.country}" />
					</p:column>
					<p:column headerText="#{msgs['user.admin']}" style="width:65px; text-align: center">
						<p:outputPanel rendered="#{usersView.hasActiveAdminPrivilege(user)}">
							<i class="fas fa-user"></i>
						</p:outputPanel>
					</p:column>
					<p:column headerText="#{msgs['edit']}" style="width:65px; text-align: center">
						<p:commandLink update=":editForm:editUserDetail" id="edit" oncomplete="PF('editUserDialog').show()">
							<i class="fas fa-pencil-alt"></i>
     						<f:setPropertyActionListener value="#{user}"
								target="#{usersView.addedUser}" /> 
     					</p:commandLink>
					</p:column>
					<p:column headerText="#{msgs['delete']}"
						style="width:65px; text-align: center">
						<p:commandLink id="delete" oncomplete="PF('deleteUserDialog').show()">
							<i class="fas fa-trash-alt"></i>
     						<f:setPropertyActionListener value="#{user}"
								target="#{usersView.addedUser}" /> 
     					</p:commandLink>
					</p:column>
				</p:dataTable>
				<div class="ui-g">
					<div class="ui-g-12">
						<p:commandButton value="#{msgs['user.add']}"
							action="#{usersView.newUser}" styleClass="ui-priority-primary"
							process="@this" update=":addForm:addUserDetail"
							oncomplete="PF('addUserDialog').show();" />
					</div>
				</div>
			</h:form>
			<h:form id="addForm">
				<div class="ui-g" id="addUserForm">
					<p:dialog id="adduserFormTitle" header="#{msgs['user.add']}"
						widgetVar="addUserDialog" modal="true">
						<p:outputPanel id="addUserDetail">
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['user.firstname']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:inputText id="fn" value="#{usersView.addedUser.firstName}" />
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['user.lastname']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:inputText id="ln" value="#{usersView.addedUser.lastName}" />
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['user.email']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:inputText id="em" value="#{usersView.addedUser.email}" />
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['user.password']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:inputText id="pw" value="#{usersView.addedUser.password}" />
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['user.country']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:selectOneMenu id="userCountry"
										value="#{usersView.addedUser.country}">
										<f:selectItem itemLabel="Belgium" itemValue="BE" />
										<f:selectItem itemLabel="France" itemValue="FR" />
										<f:selectItem itemLabel="India" itemValue="IN" />
									</p:selectOneMenu>
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['user.privileges']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:selectManyCheckbox value="#{usersView.privileges}"
										layout="grid" columns="1">
										<f:selectItems value="#{usersView.getPrivilegeTypes()}"
											var="priv" itemLabel="#{priv.fullName}" itemValue="#{priv}" />
									</p:selectManyCheckbox>
								</div>
							</div>
							<div class="ui-g-2">
								<p:commandButton value="#{msgs['user.add']}" update=":form"
									action="#{usersView.addUser}"
									oncomplete="PF('addUserDialog').hide();" />
							</div>
						</p:outputPanel>
					</p:dialog>
				</div>
			</h:form>
			<h:form id="editForm">
				<div class="ui-g" id="editUserForm">
					<p:dialog id="editUserFormTitle" header="Edit User"
						widgetVar="editUserDialog" modal="true">
						<p:outputPanel id="editUserDetail">
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['user.firstname']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:inputText id="fn" value="#{usersView.addedUser.firstName}" />
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['user.lastname']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:inputText id="ln" value="#{usersView.addedUser.lastName}" />
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['user.email']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:inputText id="em" value="#{usersView.addedUser.email}" />
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['user.password']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:inputText id="pw" value="#{usersView.addedUser.password}" />
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['user.country']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:selectOneMenu id="userCountry"
										value="#{usersView.addedUser.country}">
										<f:selectItem itemLabel="Belgium" itemValue="Belgium" />
										<f:selectItem itemLabel="France" itemValue="France" />
										<f:selectItem itemLabel="India" itemValue="India" />
									</p:selectOneMenu>
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-4">
									<p:outputLabel value="#{msgs['user.privileges']}"></p:outputLabel>
								</div>
								<div class="ui-g-8">
									<p:selectManyCheckbox value="#{usersView.privileges}"
										layout="grid" columns="1">
										<f:selectItems value="#{usersView.getPrivilegeTypes()}"
											var="priv" itemLabel="#{priv.fullName}" itemValue="#{priv}" />
									</p:selectManyCheckbox>
								</div>
							</div>
							<div class="ui-g-2">
								<p:commandButton value="Wijzigen" update=":form"
									action="#{usersView.editUser}"
									oncomplete="PF('editUserDialog').hide();" />
							</div>
						</p:outputPanel>
					</p:dialog>
				</div>
			</h:form>
			<h:form id="deleteForm">
				<div class="ui-g" id="deleteUserForm">
					<p:dialog id="deleteUserFormTitle" header="#{msgs['user.delete']}"
						widgetVar="deleteUserDialog" modal="true">
						<f:facet name="header">
							<h:outputText value="#{msgs['user.delete']}" />
						</f:facet>
						<f:facet name="controls">
							<h:outputLink value="#"
								onclick="PF('deleteUserFormTitle').hide(); return false;">X</h:outputLink>
						</f:facet>
						<p>
							<h:outputText
								value="Ben je zeker dat je deze persoon wilt verwijderen?" />
						</p>
						<br></br>
						<br></br>
						<div align="right">
							<p:commandButton styleClass="btn btn-link" value="#{msgs['button.no']}"
								onclick="PF('deleteUserDialog').hide()" />
							<p:commandButton styleClass="btn btn-primary" update=":form"
								value="#{msgs['button.yes']}" action="#{usersView.deleteUser}"
								oncomplete="PF('deleteUserDialog').hide();" />
						</div>
					</p:dialog>

				</div>
			</h:form>
		</div>
		<div class="ui-g-1"></div>
	</div>
</ui:composition>