<?xml version="1.0" encoding="UTF-8" ?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/layout/appLayout.xhtml">

    <ui:define name="pageContent">
        <ui:include src="../content/functions.xhtml"/>
    </ui:define>
</ui:composition>