<?xml version="1.0" encoding="UTF-8" ?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/layout/appLayout.xhtml">

    <ui:define name="pageContent">
        <ui:include src="../content/myteam.xhtml"/>
    </ui:define>
</ui:composition>